.visibility-hidden{
    visibility: hidden;
}

.error-feedback{
    color: red;
}  

a{
    text-decoration: none;
}
button{
    color: #acacac;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    font-weight: bold;
}

h6, h5, h4, h3, h2, h1{
    margin: 0;
}

.ok-feedback{
    color: green;
}

.justify-content-center{
      display: flex;
      justify-content: center; 
}

::-webkit-input-placeholder {
    color: #b6b6b6 !important;
    font-style: italic;
}

.form-label{
    color: gray;
}

  
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}