p, i a, nav, div{
    margin: 0;
}

.imagem{
    width: 75%;
}

.imagem2{
    width: 100%;
}
body{
    color: #ffffff;
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
}

main{
    background-color: #0F0F0F;
}

.login{
    font-size: 18px;
}

h1{
    font-size: 18px;
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

h3{
    font-size: 1.5em;
}

.imgs-movie-theater-sm{
    width: 50vw;
}

.cards-movies-current-md{
    width: 14.5em;
}

.card-movies-upcoming{
    width: 13em;
}

.movies-title-runtime{
    height: 4.5em;
}

.movie-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de linhas que deseja mostrar */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.timeline{
    font-size: 0.8em;
}

button{
    color: #acacac;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    box-shadow: none;
    outline: none;
    font-weight: bold;
}


label{
    color: #acacac;
    font-size: 0.9em;
}

.selected-button{
    font-size: 1.03em;
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

small{
    font-size: 13px;
    color: #acacac;
}

.selected-date-button{
    font-size: 1em;
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

.backgroud-logo{
    background-image: url(https://res.cloudinary.com/dp5iuxy1u/image/upload/v1719153732/baner_i6zrpo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 8em;
}

#logo{
    width: 50px;
}

#logo2{
    width: 10em;
}

.movie-schedule-md{
    font-size: 0.7em;
    height: 92px;
}

.time{
    font-size: 1em;
    background-color: #272727;
    border-radius: 5px;
    border: #777777 1px solid;
    padding: 2px 0 2px 0;
    margin: 5px 5px 4px 5px;
}

.schedule-container{
    width: 90%;
    height: 7.4em;
}

.view-more{
    font-size: 1em;
}

.carousel-item:hover {
    transition: transform 0.2s;
    transform: scale(1.02);
}

.carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.display-none{
    display: none;
}

h4{
    font-size: 1em;
}

h5{
    color: #ffffff;
    font-size: 1em;
}

.container-movies{
    width: 79em;
}

.container-movie-theater-imgs{
    width: 77.5em;
}

.container-dates-md{
    width: 76.5em;
}

.container-navbar{
    width: 76.5em;
    height: 3em;
}

.carousel-inner{
    padding: 0.5em 0;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    margin-right: 0;
    display: block;
    flex: 0 0 calc(100% / 5);
}

.imgs-movie-theater{
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

#moviesCurrentSm, #moviesUpComingSm {
    display: none !important;
}


#carouselMoviesCurrent, #carouselMoviesUpcoming {
    display: block !important;
}


@media (max-width: 1280px) {
    .container-movies{
        width: 58em;
    }

    .container-movie-theater-imgs{
        width: 57.5em;
    }
    
    .container-dates-md{
        width: 56.5em;
    }
    
    .container-navbar{
        width: 56.5em;
        height: 3em;
    }
    
    .carousel-item {
        flex: 0 0 calc(100% / 4);
    }

    .cards-movies-current-md{
        width: 13em;
    }

    .backgroud-logo{
        height: 7em;
    }

    #logo2{
        width: 8em;
    }

    .card-movies-upcoming{
        width: 13em;
    }
}

@media (max-width: 1020px) {
    .container-movies{
        width: 50em;
    }

    .container-movie-theater-imgs{
        width: 49.5em;
    }
    
    .container-dates-md{
        width: 47.5em;
    }
    
    .container-navbar{
        width: 47.5em;
        height: 3em;
    }
    
    .cards-movies-current-md{
        width: 11em;
    }

    .backgroud-logo{
        height: 6em;
    }

    #logo2{
        width: 8em;
    }

    .time{
        font-size: 0.8em;
        padding: 1px 0 1px 0;
        margin: 4px 4px 3px 4px;
    }

    .no-time{
        font-size: 10px;
    }

    .schedule-container{
        width: 90%;
        height: 6em;
    }

    .movie-schedule-md{
        font-size: 0.7em;
        height: 70px;
    }

    .view-more{
        font-size: 0.7em;
    }

    .imagem{
        width: 65%;
    }

    .movie-title{
        font-size: 14px;
    }

    .movies-title-runtime{
        height: 3.5em;
    }

    .card-movies-upcoming{
        width: 10.5em;
    }

    #sun, #mon, #tue, #wed, #thu, #fri, #sat{
        font-size: 12px;
    }

    h4{
        font-size: 0.8em;
    }
    h3{
        font-size: 1.2em;
    }
}

@media (max-width: 818px) {
    .container-movies{
        width: 35em;
    }

    .container-movie-theater-imgs{
        width: 34.5em;
    }

    .cards-movies-current-md{
        width: 10em;
    }

    .card-movies-upcoming{
        width: 10em;
    }
    
    .container-dates-md{
        width: 33.5em;
    }
    
    .container-navbar{
        width: 34.5em;
        height: 3em;
    }
    
    .carousel-item {
        flex: 0 0 calc(100% / 3);
    }

    #moviesCurrentSm {
        display: none;
    }

    #carouselMoviesCurrent {
        display: block;
    }
}



@media (max-width: 580px) {
    #moviesCurrentSm{
        display: block !important;
    }
    
    #carouselMoviesCurrent, #carouselMoviesUpcoming {
        display: none !important;
    }

    #moviesUpComingSm{
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container-movies{
        width: 90vw;
    }

    .container-dates-md{
        width: 90vw;
    }

    .container-movie-theater-imgs{
        width: 85vw;
    }
    
    .container-navbar{
        width: 90vw;
        height: 3em;
    }

    .carousel-item {
        flex: 0 0 calc(100% / 1);
    }

    .imgs-movie-theater{
        width: 70%;
        
    }

    .cards-movies-upcoming-sm {
        width: 30vw;
    }
}

@media (max-width: 292px) {
    #moviesUpComingSm{
        justify-content: space-around;
    }
}