.imagem{
    width: 200px;
    height: 300px;
}

h1{
    font-size: 22px;
}

h3{
    font-size: 1em;
}

.timeline{
    font-size: 0.8em;
}

.selected-button{
    font-size: 1.2em;
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

.selected-date-button{
    font-size: 1em;
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

