.imagem{
    width: 80%;
}
body{
    color: #ffffff;
}

.login{
    font-size: 18px;
}
h1{
    font-size: 18px;
}

h3{
    font-size: 0.7em;
}

.timeline{
    font-size: 0.8em;
}

button{
    width: 94px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    font-size: clamp(0.8em, 1vw, 1em);
    /* Para garantir que o botão não tenha sombra ou borda */
    box-shadow: none;
    outline: none;
}
label{
    font-size: clamp(0.8em, 1vw, 1em);
}
.selected-button{
    font-size: clamp(0.9em, 1.1vw, 1.1em);
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

small{
    font-size: 11px;
}

.selected-date-button{
    font-size: 1em;
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

.backgroud-logo{
    background-image: url(/cinedv/assets/img/baner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#logo{
    width: 25%;
}

#logo2{
    width: 160px;
}

h1{
    color: white;
    text-shadow: 
        -1px -1px 0 #96081B,  
        1px -1px 0 #96081B,
        -1px 1px 0 #96081B,
        1px 1px 0 #96081B;
}

.movie-schedule{
    font-size: clamp(0.7rem, 0.5vw, 0.9rem)
}

.imgs-cinema > div > img{
    width: 80%;
}

